<Section class="ts-container">

  <div>Growl-like</div>
  <div>
    <button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-type="notice" data-layout="growl" data-effect="scale">Scale</button>
    <button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-type="warning" data-layout="growl" data-effect="jelly">Jelly</button>
    <button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-type="error" data-layout="growl" data-effect="slide">Slide in</button>
    <button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-type="success" data-layout="growl" data-effect="genie">Genie</button>
  </div>
  <div>Attached</div>
  <div>
    <button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-type="notice" data-layout="attached" data-effect="flip">Flip</button>
    <button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-type="warning" data-layout="attached" data-effect="bouncyflip">Bouncy Flip</button>
  </div>
  <div>Top Bar</div>
  <div>
    <button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-type="error" data-layout="bar" data-effect="slidetop">Slide On Top</button>
    <button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-type="success" data-layout="bar" data-effect="exploader">Expanding Loader</button>

  </div>
  <!--   <div>Other</div>
  <div>
    <button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-type="notice" data-layout="other" data-effect="cornerexpand">Corner Expand</button>
    <button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-type="warning" data-layout="other" data-effect="loadingcircle">Loading Circle</button>
    <button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-type="error" data-layout="other" data-effect="boxspinner">Box Spinner</button>
    <button class="md-trigger ts-border-primary-text-color ts-border-solid-micro ts-bg-primary-text-color ts-text-text-primary-color ts-margin-md" data-type="success" data-layout="other" data-effect="thumbslider">Thumb Slider</button>
  </div> -->
</Section>